extends ../layout.pug
block layout-content
  h1 Presentation Definitions
  .card-container
    each definition in presentationDefinitions
      .card
        .card-title #{definition.id}
        p.card-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec ex sed urna ultrices consectetur.
        .card-buttons
          button.btn.btn-primary View
          button.btn.btn-secondary Edit

