extends ../layout.pug
block layout-content
	.container
		h1 Verifiable Presentations
		.card-container
			for definition in presentationRequests
				.card
					.card-title #{definition.title}
					p.card-text #{definition.description}
					.card-buttons
						button.btn.btn-primary(onclick=`window.location.href = "/verifier-panel/filter/by/definition/${definition.id}"`) See presentations
