extends ../layout.pug

block layout-content
	.container
		h1 Edit Request

		if error
			p= error.errorMessage

		form(id='edit-dcql-query', method="POST", action="/verifier/public/definitions/edit-dcql-query")

			.field
				h4.title(for="scheme") Scheme
				textarea#scheme(name="scheme" maxlength="128") openid4vp://cb
			.field
				h4.title(for="rmodeTitle") Response Mode Selection
				p.form-subtitle Choose the response mode to be required in the presenentation request

				input(type="radio" id="direct_post.jwt" name="response_mode" value="direct_post.jwt" checked)
				label(for="direct_post.jwt") direct_post.jwt
				br
				input(type="radio" id="dc_api.jwt" name="response_mode" value="dc_api.jwt")
				label(for="dc_api.jwt") dc_api.jwt
				br

			.label-wrapper
				label(for="dcqlQuery") DCQL Query
				p.form-subtitle You can edit this template as needed
				textarea(id="dcqlQueryText" name="dcqlQuery" style="display: none")
			div(id="jsoneditor")
			button.Btn.Medium.request-button(type="submit" id="submit-btn") Request Credentials
	script(src="https://cdn.jsdelivr.net/npm/jsoneditor@latest")
	script.
		const container = document.getElementById('jsoneditor');
			var schema = !{JSON.stringify(schema)};
			const options = {
			mode: 'code',
			modes: ['code', 'tree', 'view'],
			schema: schema,
			onValidationError: function(errors) {
				if (errors.length > 0) {
					document.querySelector("#submit-btn").disabled = true;
				} else {
					document.querySelector("#submit-btn").disabled = false;
				}
			}
		};

		const editor = new JSONEditor(container, options);

		editor.set({
			"credentials": [
					{
						"id": "minimalSdJwtPID",
						"format": "dc+sd-jwt",
						"meta": {
							"vct_values": [
								"urn:eudi:pid:1"
							]
						},
						"claims": [
							{
								"path": [
									"given_name"
								]
							},
							{
								"path": [
									"family_name"
								]
							},
							{
								"path": [
									"birthdate"
								]
							},
							{
								"path": [
									"nationalities"
								]
							},
							{
								"path": [
									"date_of_expiry"
								]
							},
							{
								"path": [
									"issuing_authority"
								]
							},
							{
								"path": [
									"issuing_country"
								]
							}
						]
					}
				]
			}
		);

		document.querySelector('#edit-dcql-query').addEventListener('submit', (e) => {
			e.preventDefault();
			const definition = editor.get();
			document.querySelector("#dcqlQueryText").innerText = JSON.stringify(definition);
			e.target.submit();
		});

	link(rel="stylesheet" href="/styles/edit-dcql-query.css")
	link(rel="stylesheet" href="/styles/jsoneditor.css")
