extends ../layout.pug

block layout-content
	.container
		h1 Edit Presentation Definition

		if error
			p= error.errorMessage

		form(id='edit-presentation-definition', method="POST", action="/verifier/public/definitions/edit-presentation-definition")

			.field
				h4.title(for="scheme") Scheme
				textarea#scheme(name="scheme" maxlength="128") openid4vp://cb

			.label-wrapper
				label(for="presentationDefinition") Presentation Definition
				p.form-subtitle You can edit this template as needed
				textarea(id="presentationDefinitionText" name="presentationDefinition" style="display: none")
			div(id="jsoneditor")
			button.Btn.Medium.request-button(type="submit" id="submit-btn") Request Credentials
	script(src="https://cdn.jsdelivr.net/npm/jsoneditor@latest")
	script.
		const container = document.getElementById('jsoneditor');
		var schema = !{JSON.stringify(schema)};

		const options = {
			mode: 'code',
			modes: ['code', 'tree', 'view'],
			schema: schema,
			onValidationError: function(errors) {
				if (errors.length > 0) {
					document.querySelector("#submit-btn").disabled = true;
				} else {
					document.querySelector("#submit-btn").disabled = false;
				}
			}
		};

		const editor = new JSONEditor(container, options);

		editor.set({
						"id": "VerifiableId",
						"title": "PID",
						"description": "Personal Identification",
						"input_descriptors": [
							{
								"name": "Custom PID",
								"purpose": "wwWallet Verifier requests your credentials",
								"constraints": {
									"limit_disclosure": "required",
									"fields": [
										{
											"name": "VC type",
											"path": ["$.vct"],
											"filter": {
												"type": "string",
												"const": "urn:eudi:pid:1"
											}
										}
									]
								},
								"format": {
									"dc+sd-jwt": {
										"sd-jwt_alg_values": ["ES256"],
										"kb-jwt_alg_values": ["ES256"]
									}
								},
								"id": "SdJwtPID"
							}
						]
					});

		document.querySelector('#edit-presentation-definition').addEventListener('submit', (e) => {
			e.preventDefault();
			const definition = editor.get();
			document.querySelector("#presentationDefinitionText").innerText = JSON.stringify(definition);
			e.target.submit();
		});

	link(rel="stylesheet" href="/styles/edit-presentation-definition.css")
	link(rel="stylesheet" href="/styles/jsoneditor.css")
