extends ../layout.pug
block layout-content

  .container
    .centered-layout
      form(id="ResponseCode" name="ResponseCodeForm" method="POST")
        .CenteredLayout
  script(src="/js/handle-response-code.js")
