extends ../layout.pug

block layout-content
	.container
		.centered-layout
			h1 Import Certificate

			if error
				p.error-message= error.errorMessage

			form(method="POST", action="/verifier/import-certificate", class="cert-form")
				label(for="certificate") X.509 Certificate (PEM or Base64)
				textarea(name="certificate" rows="10")

				button(type="submit" class="btn btn-primary submit-button") Add X.509 Certificate

	link(rel="stylesheet" href="/styles/certificates.css")
