extends ../layout.pug

block layout-content
	.container
		.centered-layout
			h1 Import Certificate

			if error
				p= error.errorMessage
					

			form(method="POST", action="/verifier/import-certificate")
				label(for="certificate") X509 Certificate (PEM or Base64)
				textarea(name="certificate" rows="10" style="width: 100%")

				button(type="submit" class="btn btn-primary" style="margin-top: 1rem") Add X509 Certificate


			
	link(rel="stylesheet" href="/styles/certificates.css")
