extends ../layout.pug
block layout-content

	#Index
		section.IssuerOrVerifierLayout
			div.MainArea.IssuerSection
				.ItemLayout
					i.fa.fa-id-card-o.LargeIcon
					p #{locale.index.phrase}
					button.Btn.Large.Landing(onclick="window.location.href = '/verifier/public/definitions'; ") #{locale.index.proceed}
					input(type="hidden" id="credentialIssuerIdentifier" value=credentialIssuerIdentifier)

	block footer
	include ../footer.pug

	link(rel="stylesheet" href="/styles/index.css")
