extends ../layout.pug

block layout-content
	.container2.container-positions
		h1 Manage Root Certificates
		.card-container
			.card
				.card-title Root Certificates
				.card-buttons
						button.btn.btn-primary(onclick=`window.location.href = "/verifier/certificates"`) Show
			.card
				.card-title New Certificate
				.card-buttons
						button.btn.btn-primary(onclick=`window.location.href = "/verifier/import-certificate"`) Import

	block footer
		include ../footer.pug

	link(rel="stylesheet" href="/styles/index.css")
	script(src="/js/index.js")
