extends ../layout.pug
block layout-content
	.container
		h1 Received Verifiable Presentations
		.card-container
		for vp in verifiablePresentations
			.card
				.card-title #{vp.id}
				p.card-text Date received: #{vp.date}
				.card-buttons
					button.btn.btn-secondary(onclick=`window.location.href = "/verifier-panel/presentation/${vp.id}"`) Inspect details