extends ../layout.pug
block layout-content
    .container
        .centered-layout
            form(action=`/verifier/public/definitions/presentation-request/${presentationDefinitionId}` method='post')
                .CenteredLayout
                    h2 Select the fields you wish to present
                    .left-layout
                        .checkbox
                            input(type='checkbox' checked disabled id="type" name='fields' value='type')
                            label(for='type') Type
                        .checkbox
                            input(type='checkbox' id="firstName" name='fields' value='firstName')
                            label(for='firstName') First Name
                        .checkbox
                            input(type='checkbox' id="familyName" name='fields' value='familyName')
                            label(for='familyName') Family Name
                        .checkbox
                            input(type='checkbox' id="personalIdentifier" name='fields' value='personalIdentifier')
                            label(for='personalIdentifier') Personal Identifier
                        .checkbox
                            input(type='checkbox' id="dateOfBirth" name='fields' value='dateOfBirth')
                            label(for='dateOfBirth') Date of Birth
                    button.btn.btn-primary(type='submit') Present
    link(rel="stylesheet" href="/styles/scan-qr-verifier.css")