#Header
	.header
		.ribbon
			a.ribbonText DEMO
		.header-content
			a.logo-area(href="/")
				if locale.header.title
					span.logo-text #{locale.header.title}
				else
					img.img-logo(src="/images/logo.png" alt="Verifier Logo")
			.menu-area
				.mobile-menu-toggle
					button#menu-toggle-button
						span.menu-icon ☰
				ul.menu
					li.menu-item
						a(href="#") Home
					li.menu-item
						a(href="#") About
					li.menu-item
						a(href="#") Services
					li.menu-item
						a(href="#") Contact
		.header-border

	script.
		document.addEventListener('DOMContentLoaded', function () {
			const menuToggle = document.getElementById('menu-toggle-button');
			const menu = document.querySelector('.menu');

			menuToggle.addEventListener('click', function () {
				menu.classList.toggle('show-menu');
			});
		});
	link(rel="stylesheet" href="/styles/header.css")
	script(src="/js/header.js")
