#Header
	.header-plain
		.ribbon
			a.ribbonText DEMO
		.header-content
			a.logo-area(href="/")
				span.logo-text #{locale.plainHeader.title}
		p.header-subtitle #{locale.plainHeader.subtitle}
		br
link(rel="stylesheet" href="/styles/header.css")