#Header
	.header-plain
		.header-content
			a.logo-area(href="/")
				span.logo-text #{locale.header.title}
		p.header-subtitle #{locale.header.subtitle}
		br
link(rel="stylesheet" href="/styles/header.css")