.alert-container {
	display: flex;
	justify-content: center;
}

.alert {
	width: min(900px, 80%);
	padding: 15px;
	border: 1px solid transparent;
	border-radius: 0.25rem;
  margin: 1rem 0;
}

.alert-success {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d0e9c6;
}

.alert-danger {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebcccc;
}