.presentation-card {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 30px;
  width: 75%;
  max-width: 800px;
  margin: 0 auto 30px auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.attribute-selection {
	width: 100%;
}

.checkbox-wrapper {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  text-align: left;
}

.checkbox-wrapper input[type="checkbox"] {
	transform: scale(1.5);
	accent-color: var(--primary-color);
}

input[type="checkbox"]:disabled + label {
  color: gray;
  cursor: not-allowed;
}

.checkbox-controls {
	margin-top: 25px;
	display: flex;
	gap: 5px;
}

#attributes-container {
	max-height: 300px;
	overflow-y: auto;
}

/* Form Elements */
.field {
	margin-bottom: 10px;
	width: 100%;
}

.field.hidden {
	display: none;
}

textarea,
select {
	width: 100%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 14px;
}

textarea {
	resize: vertical;
	min-height: 40px;
	max-height: 80px;
}

.dropdown {
	cursor: pointer;
}

/* Buttons */
.add-button,
.submit-button {
	background-color: #007bff;
	color: #fff;
	border: none;
	padding: 10px 15px;
	font-size: 14px;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 10px;
}

.add-button:hover,
.submit-button:hover {
	background-color: #0056b3;
}

.request-qr {
	width: 100%;
}

.request-qr:disabled {
	opacity: 0.5;
	cursor: not-allowed;
	pointer-events: none;
}

.dropdown {
	height: auto;
	padding: 10px;
	background-color: #f9f9f9;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
}

#attribute option {
	cursor: pointer;
	margin-bottom: 2px;
	padding: 5px;
	background-color: #f9f9f9;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-right: 10px;
}

.title{
	margin-bottom: 5px;
}

@media only screen and (max-width: 480px) {
	.presentation-card .presentation-form {
		width: unset;
	}
}