table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
}


.table-container {
  margin: 20px;
}

thead {
  background-color: #333;
  color: #fff;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr.even {
  background-color: #f2f2f2;
}

tr.odd {
  background-color: #fff;
}
