.demo-text {
	font-style: bold;
	font-weight: 600;
}

.title {
	color: #000;
	padding: 0 0 0 0;
	margin-bottom: 0;
	font-size: 24px;
	font-weight: 600;
}

.text-area {
	font-size: 18px;
	display: table-cell;
	vertical-align: middle;
}

#Index .disclaimer {
	background-color: #f1f1f1;
	font-size: 16px;
	font-style: italic;
	display: block;
	width: auto;
	padding-left: 10px;
	padding-right: 10px;
}

#Index .IssuerOrVerifierLayout {
	min-height: 88%;
	display: flex;
	/* gap: 16px; */
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: column;
}

#Index .MainArea {
	/* width: 50%; */
	text-align: center;
	flex-grow: 1;
}

#Index .ItemLayout {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 16px;

	justify-content: center;
	align-items: center;

	/* margin-left: 20px;
	margin-right: 20px; */
}

#Index .VerifierSection {
	background-color: rgb(219, 219, 219);
	/* float: right; */

}

#Index .IssuerSection {
	display: flex;
	align-items: center;
	/* float: left; */
	background-color: rgb(241, 241, 241);
}

#Index .LargeIcon {
	font-size: 150px;
	color: var(--secondary-color);
	margin-top: 30px;
}


.image-container {
	position: relative;
	display: inline-block;
}

/* Flex container for the layout */
.flex-container {
	padding: 5%;
	display: flex;
	align-items: center;
	/* Vertically center items within the flex container */
	justify-content: space-between;
	/* Create space between columns */
}

/* Styling for the image column */
.image-column {
	text-align: center;
	width: 50%;
	/* Set the width of the image column */
}

/* Styling for the content column */
.content-column {
	height: 100%;
	width: 50%;
	/* Set the width of the content column */
}

/* Styling for the image */
.image-column img {
	max-width: 70%;
	/* Ensure the image doesn't exceed its container */
}

@media screen and (max-width: 768px) {
	.flex-container {
		flex-direction: column;
		/* Stack columns vertically */
		align-items: stretch;
		/* Stretch items vertically to occupy full width */
	}

	.image-column,
	.content-column {
		width: 100%;
		padding: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.image-column img {
		max-width: 30%;
	}
}

/* Additional styling for the content elements */
.content-column h1 {
	font-size: 35px;
	/* Adjust the font size as needed */
	margin-bottom: 15px;
	/* Add spacing below the title */
}

.content-column p {
	font-size: 16px;
	/* Adjust the font size as needed */
	margin-bottom: 15px;
	/* Add spacing below paragraphs */
}

.content-column .demo-text {
	font-size: 14px;
	/* Adjust the font size as needed */
	color: #888;
	/* Set the text color for the demo text */
}

.centered-layout {
	display: flex;
	flex-direction: column;
	gap: 16px;
	justify-content: center;
	align-items: center;
	margin-bottom: 5%;
}

.container2 {
	min-height: 60vh;
}

.container-positions {
	padding-left: 5%;
	padding-right: 5%;
}

.openwithwalletbuttonnative {
	margin-top: 5px !important;
}

.left-layout {
	text-align: left;
}

/* Custom Checkbox Style */
.checkbox input[type="checkbox"] {
	display: none;
}

.checkbox {
	margin-bottom: 7px;
}

.checkbox label {
	position: relative;
	padding-left: 30px;
	cursor: pointer;
}

.checkbox label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 20px;
	height: 20px;
	border: 1px solid #555;
	border-radius: 4px;
	background-color: white;
}

.checkbox input[type="checkbox"]:checked+label:before {
	background-color: var(--primary-color);
}

.checkbox input[type="checkbox"]:disabled+label:before {
	background-color: gray;
}

.checkbox label:after {
	content: '';
	position: absolute;
	left: 6px;
	bottom: 2px;
	width: 8px;
	height: 17px;
	border: solid white;
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
	display: none;
}

.checkbox input[type="checkbox"]:checked+label:after {
	display: block;
}
