.demo-text {
	font-style: bold;
	font-weight: 600;
}

.title {
	color: #000;
	padding: 0 0 0 0;
	margin-bottom: 0;
	font-size: 24px;
	font-weight: 600;
}

.text-area {
	font-size: 18px;
	display: table-cell;
	vertical-align: middle;
}

#Index .disclaimer {
	background-color: #f1f1f1;
	font-size: 16px;
	font-style: italic;
	display: block;
	width: auto;
	padding-left: 10px;
	padding-right: 10px;
}

#Index .IssuerOrVerifierLayout {
	min-height: 88%;
	display: flex;
	/* gap: 16px; */
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: column;
}

#Index .MainArea {
	/* width: 50%; */
	text-align: center;
	flex-grow: 1;
}

#Index .ItemLayout {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 16px;

	justify-content: center;
	align-items: center;

	/* margin-left: 20px;
	margin-right: 20px; */
}

#Index .VerifierSection {
	background-color: rgb(219, 219, 219);
	/* float: right; */

}

#Index .IssuerSection {
	display: flex;
	align-items: center;
	/* float: left; */
	background-color: rgb(241, 241, 241);
}

#Index .LargeIcon {
	font-size: 150px;
	color: var(--secondary-color);
	margin-top: 30px;
}


.image-container {
	position: relative;
	display: inline-block;
}

/* Flex container for the layout */
.flex-container {
	padding: 5%;
	display: flex;
	align-items: center;
	/* Vertically center items within the flex container */
	justify-content: space-between;
	/* Create space between columns */
}

/* Styling for the image column */
.image-column {
	text-align: center;
	width: 50%;
	/* Set the width of the image column */
}

/* Styling for the content column */
.content-column {
	height: 100%;
	width: 50%;
	/* Set the width of the content column */
}

/* Styling for the image */
.image-column img {
	max-width: 70%;
	/* Ensure the image doesn't exceed its container */
}

@media screen and (max-width: 768px) {
	.flex-container {
		flex-direction: column;
		/* Stack columns vertically */
		align-items: stretch;
		/* Stretch items vertically to occupy full width */
	}

	.image-column,
	.content-column {
		width: 100%;
		padding: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.image-column img {
		max-width: 30%;
	}
}

/* Additional styling for the content elements */
.content-column h1 {
	font-size: 35px;
	/* Adjust the font size as needed */
	margin-bottom: 15px;
	/* Add spacing below the title */
}

.content-column p {
	font-size: 16px;
	/* Adjust the font size as needed */
	margin-bottom: 15px;
	/* Add spacing below paragraphs */
}

.content-column .demo-text {
	font-size: 14px;
	/* Adjust the font size as needed */
	color: #888;
	/* Set the text color for the demo text */
}

.centered-layout {
	display: flex;
	flex-direction: column;
	gap: 16px;
	justify-content: center;
	align-items: center;
	margin-bottom: 5%;
}

.container2 {
	min-height: 60vh;
}

.container-positions {
	padding-left: 5%;
	padding-right: 5%;
}


table {
	border-collapse: collapse;
	width: 30%;
	margin: 0 auto;
}

th,
td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
}

th {
	background-color: var(--primary-color);
	color: white;
}

.openwithwalletbuttonnative {
	margin-top: 5px !important;
}

textarea.wide {
	width: 60% !important;
}

#json-textarea {
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 20px;
	padding-top: 0px;
	background-color: white;
	color: black;
	overflow: auto;
	resize: vertical;
	width: 500px;
	min-height: 200px;
}

.expired-label {
	--tw-bg-opacity: 1;
	background-color: rgb(239 68 68 / var(--tw-bg-opacity));
	--tw-text-opacity: 1;
	color: rgb(255 255 255 / var(--tw-text-opacity));
	--tw-border-opacity: 1;
	border-color: rgb(255 255 255 / var(--tw-border-opacity));
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-left-radius: 0.5rem;
	font-size: 0.75rem;
	line-height: 1rem;
	padding: 0.25rem 0.75rem 0.25rem 0.75rem;
	right: 0px;
	bottom: 0px;
	position: absolute;
}

@media (max-width: 768px) {

	#json-textarea {
		width: -webkit-fill-available !important;
		margin-left: 1%;
		margin-right: 1%;
	}
}

.left-layout {
	text-align: left;
}

/* Custom Checkbox Style */
.checkbox input[type="checkbox"] {
	display: none;
}

.checkbox {
	margin-bottom: 7px;
}

.checkbox label {
	position: relative;
	padding-left: 30px;
	cursor: pointer;
}

.checkbox label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 20px;
	height: 20px;
	border: 1px solid #555;
	border-radius: 4px;
	background-color: white;
}

.checkbox input[type="checkbox"]:checked+label:before {
	background-color: var(--primary-color);
}

.checkbox input[type="checkbox"]:disabled+label:before {
	background-color: gray;
}

.checkbox label:after {
	content: '';
	position: absolute;
	left: 6px;
	bottom: 2px;
	width: 8px;
	height: 17px;
	border: solid white;
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
	display: none;
}

.checkbox input[type="checkbox"]:checked+label:after {
	display: block;
}

/* CSS for the claims tables */
.claims-tables {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.claims-tables h4 {
	margin: 10px 0;
	color: #333;
}

.table-container {
	width: 60%;
	margin-bottom: 20px;
	overflow-x: auto;
	/* Enable horizontal scrolling */
}

.table-container table {
	width: 100%;
	border-collapse: collapse;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
	.table-container {
		width: -webkit-fill-available !important;
		margin-left: 1%;
		margin-right: 1%;
	}
}

.table-container table thead tr {
	background-color: #f2f2f2;
}

.table-container table th,
.table-container table td {
	padding: 10px;
	text-align: left;
	border: 1px solid #ddd;
	font-size: 14px;
	overflow-wrap: anywhere;
}

.table-container table th {
	color: white;
}

.table-container table th:first-child,
.table-container table td:first-child {
	width: 30% !important;
}

.table-container table tbody tr:nth-child(even) {
	background-color: #f9f9f9;
}

.table-container table tbody tr:hover {
	background-color: #f1f1f1;
}
