table {
  border-collapse: collapse;
  border-spacing: 0;
  /* border: 1px solid #ddd; */
	border: none;
	width: 100%;
	table-layout: fixed;
	/* min-width: 200px; */
	/* margin-top: 40px; */
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr td:last-child {
	text-align: center;
}

.scopeCheckbox {
	accent-color: #003476;
	width: 16px;
	height: 16px;
}


section.layout {
	display: flex;
	flex-direction: column;
	gap: 20px;
}