.wmodal {
	display: none;	/* Hidden by default */
	position: fixed;	/* Stay in place */
	z-index: 1;	/* Sit on top */
	left: 0;
	top: 0%;
	width: 100%;	/* Full width */
	height: 100%;	/* Full height */
	overflow: auto;	/* Enable scroll if needed */
	background-color: rgb(0, 0, 0);	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.4);	/* Black w/ opacity */
}

/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}


.wmodal-header,
.wmodal-body,
.wmodal-content,
.wmodal-footer {
	min-width: 400px;
}

/* Modal Header */
.wmodal-header {
	width: 400px;
	position: relative;
	top: 25%;
	margin: auto;
	padding: 2px 16px;
	background-color: var(--primary-color);
	color: white;
}

/* Modal Body */
.wmodal-body {
	padding: 2px 16px;
	top: 25%;
}

/* Modal Footer */
.wmodal-footer {
	width: 400px;
	position: relative;
	top: 25%;
	margin: auto;
	padding: 2px 16px;
	background-color: #fefefe;
	color: white;
}

.wmodal-footer .button-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1%;
}

/* Modal Content */
.wmodal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 16px;
	border: 1px solid #888;
	width: 400px;
	height: 25%;
	top: 25%;
	border-bottom: solid gray 0.1vh;
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	animation-name: animatetop;
	animation-duration: 0.4s
}

.wmodal-header .h4 {
	margin-top: 2%;
	margin-bottom: 2%;
}

.wmodal .h5 {
	position: absolute;
	top: 30%;
	margin-left: 4%;
	margin-right: 4%;
}

.wmodal h5 {
	padding: 5% 0;
	text-align: center;
}

.wmodal #successful-invite-header {
	position: relative;
	top: 0;
	margin-top: 2%;
}