
table {
	border-collapse: collapse;
	width: 30%;
	margin: 0 auto;
}

th,
td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
}

th {
	background-color: var(--primary-color);
	color: white;
}

.oid4vp-table {
	width: 100%;
}

#Index #mainBtn {
	display: block;
	margin: auto;
	width: 100%;
}

/* CSS for the claims tables */
.claims-tables {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.claims-tables h4 {
	margin: 10px 0;
	color: #333;
}

.table-container {
	width: 60%;
	margin-bottom: 20px;
	overflow-x: auto;
	/* Enable horizontal scrolling */
}

.table-container table {
	width: 100%;
	border-collapse: collapse;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
	.table-container {
		width: -webkit-fill-available !important;
		margin-left: 1%;
		margin-right: 1%;
	}
}

.table-container table thead tr {
	background-color: #f2f2f2;
}

.table-container table th,
.table-container table td {
	padding: 10px;
	text-align: left;
	border: 1px solid #ddd;
	font-size: 14px;
	overflow-wrap: anywhere;
}

.table-container table th {
	color: white;
}

.table-container table th:first-child,
.table-container table td:first-child {
	width: 30% !important;
}

.table-container table tbody tr:nth-child(even) {
	background-color: #f9f9f9;
}

.table-container table tbody tr:hover {
	background-color: #f1f1f1;
}


textarea.wide {
	width: 60% !important;
}

#json-textarea {
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 20px;
	padding-top: 0px;
	background-color: white;
	color: black;
	overflow: auto;
	resize: vertical;
	width: 500px;
	min-height: 200px;
}

#url-textarea {
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 20px;
	padding-top: 0px;
	background-color: white;
	color: black;
	overflow: auto;
	/* resize: vertical; */
	width: 500px;
	height: 150px;
}

.expired-label {
	--tw-bg-opacity: 1;
	background-color: rgb(239 68 68 / var(--tw-bg-opacity));
	--tw-text-opacity: 1;
	color: rgb(255 255 255 / var(--tw-text-opacity));
	--tw-border-opacity: 1;
	border-color: rgb(255 255 255 / var(--tw-border-opacity));
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-left-radius: 0.5rem;
	font-size: 0.75rem;
	line-height: 1rem;
	padding: 0.25rem 0.75rem 0.25rem 0.75rem;
	right: 0px;
	bottom: 0px;
	position: absolute;
}

@media (max-width: 768px) {

	#json-textarea {
		width: -webkit-fill-available !important;
		margin-left: 1%;
		margin-right: 1%;
	}
}
