.CompactLayout {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 16px;
}

/* Used for the alignment of the QR code with "Open with Wallet" button" */
.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

