.centered-layout {
	display: flex;
	flex-direction: column;
	gap: 16px;
	justify-content: center;
	align-items: center;
	margin-bottom: 5%;
}

.CenteredLayout {
	width: auto;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-color: white;
	padding: 20px 30px;
}

.image-container {
	cursor: pointer;
	transition: transform 0.3s;
	width: 50vw;
	height: auto;
	max-width: 400px;
}