extends ../layout.pug
block layout-content

	form#IssuerSelection(name="AuthenticationMethod" method="POST")
		.main-container
			p(class="dropdownLabel") Authentication Method
			div(class='dropdownContainer')
				p.label Choose between authenticating via presenting a PID or via a conventional 3rd-party authentication service (e.g., National Authentication Service, Google):
				select(name="auth_method" class='issuerDropdown')
					option(value="" disabled selected) Select an authentication method
					option(value="VID_AUTH") Authentication with PID
					option(value="SSO") National Authentication Service

				p.invalid-feedback#invalid-issuer You have not been awarded by this Institution
				p.invalid-feedback#no-issuer You have to select an Institution
				button.Btn.Large.Landing(id="mainBtn" type="submit") #{locale.index.proceed}
	block footer
	include ../footer.pug

	link(rel="stylesheet" href="/styles/styles.css")
	link(rel="stylesheet" href="/styles/selection.css")
	script(src="/js/alert.js")
	script(src="/js/select-client.js")
