extends ../layout.pug
block layout-content

	form#IssuerSelection(name="AuthenticationMethod" method="POST")
		.main-container
			p(class="dropdownLabel") Choose the method you want to be authenticated with
			div(class='dropdownContainer')
				p.label Select an authentication method
				select(name="auth_method" class='issuerDropdown')
					option(value="" disabled selected) Select an authentication method
					option(value="SSO") TAXIS authentication
					option(value="VID_AUTH") Authentication with Verifiable ID

				p.invalid-feedback#invalid-issuer You have not been awarded by this Institution
				p.invalid-feedback#no-issuer You have to select an Institution
				button.Btn.Large.Landing(id="mainBtn" type="submit") #{locale.index.proceed}
	block footer
	include ../footer.pug

	link(rel="stylesheet" href="/styles/styles.css")
	link(rel="stylesheet" href="/styles/selection.css")
	script(src="/js/alert.js")
	script(src="/js/select-client.js")
